# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/build/
*.keystore

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo

# Temp / Cache
*.log
__pycache__/
*.pyc
